html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background: black;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.header {
  /* background-color: #CCD1D1; */
  padding: 30px;
  /* text-align: center; */
}

.header img {
  float: left;
}

.header h4 {
  font-family: serif;
  padding-left: 5px;
  display: inline;
}

#navbar {
  border: 1px solid white;
  border-left: 0px;
  border-right: 0px;
  width: 100%;
  overflow: hidden;
  background: black;
  /* background-color: #263238; */
}

#navbar a {
  float: right;
  display: block;
  color: #EF9A9A;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #E91E63;
  color: white;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky+.content {
  padding-top: 60px;
}

/*****    HOMEPAGE   ******/
.home {
  padding: 30px;
  text-align: center;
}

.home h2 {
  font-size: 30px;
  font-style: italic;
  margin-top: 5px;
  color: #6A5ACD;
}

.home button {
  text-align: center;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 7px;
  padding: 15px;
  background-color: #8A2BE2;
  color: white;
}

.home button:hover {
  background: #FF1493;
}

.intro {
  /* background: #FAEBD7; */
  padding: 0px 30px 30px 30px;
}

.intro img {
  float: left;
  padding: 20px;
}

.intro h2 {
  text-align: center;
  font-size: 30px;
  color: green;
  text-decoration: underline;
}

.intro p {
  font-size: 25px;
}

.about-us {
  /* background: cyan; */
  padding: 0px 30px 30px 30px;
}

.about-us img {
  float: right;
  padding: 20px;
}

.about-us h2 {
  text-align: center;
  font-size: 30px;
  color: orange;
  text-decoration: underline;
}

.about-us p {
  font-size: 25px;
}

.about-us-button {
  text-align: center;
}

.about-us-button button {
  font-size: 15px;
  background: lightgreen;
  border-radius: 7px;
  padding: 10px;
}

.about-us-button button:hover {
  background: red;
  color: white;
}

.our-goals {
  text-align: center;
  padding: 0px 30px 30px 30px;
}

.our-goals h2 {
  font-size: 30px;
  color: yellow;
  text-decoration: underline;
}

.our-goals p {
  font-size: 25px;
}

.content {
  padding: 16px;
  padding-bottom: 0px;
}

.get-news {
  margin: 0 auto;
  color: white;
  padding: 0px 5px 0px 25px;
  background: black;
  text-align: center;
}

.get-news h4 {
  color: cyan;
  font-size: 40px;
}

.news {
  background-color: black;
  margin: 0 auto;
  color: white;
  padding: 0px 5px 50px 25px;
  background: black;
  text-align: center;
  ;
}

.news form {
  display: flex;
}

.news form input {
  line-height: normal;
  font-size: 15px;
  box-sizing: border-box;
  width: 40%;
  padding: 10px 15px 10px 5px;
  border-radius: 5px;
}

.news form button {
  border-radius: 5px;
  background: pink;
}

.news form label {
  font-size: 25px;
  padding-right: 10px;
  padding-top: 10px;
  color: pink;
}

/*****    ABOUT-US   ******/
.column {
  float: left;
  width: 33%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button-about {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button-about:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/*****    CONTACT-US   ******/
.para {
  font-size: 22px;
}

input[type=text],
#email,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.container-contact {
  border-radius: 5px;
  padding: 10px;
}

.cont {
  color: gold;
}

label {
  color: cyan;
}

/* Create two columns that float next to eachother */
.column-contact {
  width: 60%;
  margin-top: 6px;
  padding: 20px;
}

.row-contact {
  padding-left: 25%;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

  .column-contact,
  input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
/**    DONATION FORM   ***/
h1{
  text-align: center;
}

form{
  border: 0px solid black;
  margin: 50px;
  padding: 50px 50px 50px 50px;
  background: #696969;
}
.do .firstname input{
  margin: 5px 5px 5px 0px;
  width: 80%;
}
.do .lastname input{
  margin: 5px 5px 5px 0px;
  width: 80%;
}

.do .email input{
    margin: 5px 5px 5px 65px;
    width: 80%;
  }

.do .donate input{
  margin: 5px 5px 5px 0px;
  width: 94%;
}

.categories .type{
  width: 80%;
  border-radius: 10px 10px 10px 10px;
  font-size: 20px;
  margin: 5px 10px 5px 5px;
}

.do .submitbutton{
  text-align: center;
  margin-top: 10px;
}

.do .submitbutton button{
  background: #D39D10;
  padding: 10px;
}
/**    Fund Donation   ***/
h1 {
  color: white;
  text-align: center;
}

th{
  background-color: gray;
}

table, th, td {
  border: 0.5px solid gray;
  padding: 2px;
}
table {
  border-spacing: 1px;
}

td.tab {
  text-align: center;
}

button{
  background-color: white
}

.button{
  margin-top: 20px;
  text-align: center;
}

.answer{
  margin-top: 40px;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  background-color: gray;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background: black;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.header {
  /* background-color: #CCD1D1; */
  padding: 30px;
  /* text-align: center; */
}

.header img {
  float: left;
}

.header h4 {
  font-family: serif;
  padding-left: 5px;
  display: inline;
}

#navbar {
  border: 1px solid white;
  border-left: 0px;
  border-right: 0px;
  width: 100%;
  overflow: hidden;
  background: black;
  /* background-color: #263238; */
}

#navbar a {
  float: right;
  display: block;
  color: #EF9A9A;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #E91E63;
  color: white;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky+.content {
  padding-top: 60px;
}
